body{
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    background-image: linear-gradient(to bottom, #d2f8fb, white); 
    text-align: center;
}
img{
    width:400px;
}
h1{
    font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 70pt;

  line-height:1cm;
}
p{ 
    font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30pt;
  line-height: 1.5cm;
}
